.btn {
  outline: none;
  border: none;
  min-width: 9.5rem;
  padding: 1.1rem;
  font-family: "roboto-light";
  cursor: pointer;

  &__secondary {
    border: 1px solid #8a8a8a;
    border-radius: 5px;
    background: $color-tertiary;
    color: #dddddd;
    font-size: 1.4rem;
  }
}
