.btn {
  outline: none;
  border: none;
  min-width: 9.5rem;
  padding: 1.1rem;
  font-family: "roboto-light";
  cursor: pointer;

  &__primary {
    display: inline-block;
    padding: 1rem 2.5rem;
    border: 1px solid #d0d0d0;
    border-radius: 0.5rem;
    background: #fafafa;
    font-size: 1.4rem;
    color: #5d5d5d;
  }

  &__secondary {
    border: 1px solid #8a8a8a;
    border-radius: 5px;
    background: $color-tertiary;
    color: #dddddd;
    font-size: 1.4rem;
    transition: 0.3s;
    &:hover {
      background: $color-grey-light;
      color: $color-tertiary;
      font-weight: bold;
    }
  }

  &__tertiary {
    min-width: 7.5rem;
    height: 3.6rem;
    background: $color-white;
    padding: 1rem 2rem;
    border-radius: 0.3rem;
    &--disabled {
      min-width: unset;
      width: 7.5rem;
      height: 3.6rem;
      background: #F0F0F0;
      padding: unset;
      border-radius: 0.3rem;
    }
  }

  &__secondary:hover &__contents {
    > span > svg > path {
      fill: $color-tertiary;
    }

    > span > svg > g > path {
      fill: $color-tertiary;
    }
  }

  &__contents {
    display: flex;
    align-items: center;
    justify-content: center;
    > * {
      margin-right: 0.6rem;
    }
  }

  &--draft {
    color: $color-white;
    background: #D54D42;
    min-width: 13.8rem;
    min-height: 3.9rem;
    font-size: 1.4rem;
  }
}
