.card {
  width: 100%;
  height: 8.7rem;
  border-radius: 0.5rem;
  background: #fafafa;
  border: 1px solid #cacaca;
  cursor: move;
  text-align: center;
  padding: 2rem;

  &__blockWrapper {
    display: inline-block;
    width: 100%;
  }
}
