.draft {
  &__blocks {
    &--active {
      border: 1px solid #d54d42;
    }
  }

  &__contents {
    background: #ededed;
    min-height: 7rem;
    border: 1px dashed #d0d0d0;
    text-align: center;
    padding: 1rem;
    > * {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }

  &__snap {
    display: inline-block;
    padding: 0.5rem 1rem;
    height: 3.1rem;
    cursor: pointer;
    > span {
      &:not(:first-child) {
        margin-left: 1rem;
      }
    }
    &--1 {
      position: absolute;
      top: -3.2rem;
      left: -0.1rem;
    }

    &--2 {
      position: absolute;
      bottom: -3.2rem;
      left: -0.1rem;
    }

    &--3 {
      position: absolute;
      bottom: -3.2rem;
      right: -0.1rem;
    }
  }

  &__gif {
    background: #fdece8;
    padding: 0.5rem;

    &--text {
      color: #d54d42;
      font-size: 1.4rem;
    }
  }

  &__blockEvent {
    display: inline-block;
    width: 100%;
  }

  &__dragContent {
    position: relative;
    background: $color-white;
    min-height: 7rem;
    border: 1px solid $color-green;
    text-align: center;
    padding: 1rem;
  }

  &__video {
    background: #F9F9F9;
    height: 19.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 800px) {
  .draft {
    &__contents {
      display: flex;
      justify-content: center;
      align-items: center;
      > * {
        &:not(:first-child) {
          margin-left: 2rem;
        }
      }
    }

    &__blocks {
      &--active {
        padding: 3rem 2rem !important;
      }
    }
  }
}
