.draft {
  &__contents {
    background: #ededed;
    min-height: 7rem;
    border: 1px dashed #d0d0d0;
    text-align: center;
    padding: 1rem;
    > * {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    &--white {
      background: $color-white;
      border: 1px solid transparent;
    }

    &--green {
      border: 1px solid $color-green;
      outline: 0.5rem solid rgba($color-green, 0.4);
      outline-offset: -0.5rem;
      position: relative;
    }

    &--new {
      // background: #ededed;
      background: rgba($color-green, 0.2);
      opacity: 0.4;
      width: 100%;
      height: 14rem;
      border: 1px dashed $color-green;
    }
  }

  &__snap {
    display: inline-block;
    padding: 0.5rem 1rem;
    height: 3.1rem;
    z-index: 1;
    cursor: pointer;
    > span {
      &:not(:first-child) {
        margin-left: 1rem;
      }
    }
    &--1 {
      position: absolute;
      top: -3.2rem;
      left: -0.1rem;
    }

    &--2 {
      position: absolute;
      bottom: -3.2rem;
      left: -0.1rem;
    }

    &--3 {
      position: absolute;
      bottom: -3.2rem;
      right: -0.1rem;
    }
  }

  &__gif {
    background: #fdece8;
    padding: 0.5rem;

    &--text {
      color: #d54d42;
      font-size: 1.4rem;
    }
  }

  &__blockEvent {
    position: relative;
    display: inline-block;
    width: 100%;
    border: 1px solid transparent;
    &--active {
      border: 1px solid #d54d42;
      outline: 0.5rem solid lighten(#d54d42, 20%);
      outline-offset: -0.5rem;
    }

    &--hover {
      border: 1px solid #d54d42;
    }
  }

  &__subBlockEvent {
    position: relative;
    display: inline-block;
    width: 100%;
    &--active {
      border: 1px solid #00bd1e;
    }
  }

  &__subBlocks {
    display: flex;
    > * {
      &:not(:first-child) {
        margin-left: 1rem;
      }
    }
  }

  &__dragContent {
    position: relative;
    background: $color-white;
    min-height: 7rem;
    border: 1px solid $color-green;
    text-align: center;
    padding: 1rem;
  }

  &__video {
    background: #f9f9f9;
    height: 19.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 800px) {
  .draft {
    &__contents {
      display: flex;
      justify-content: center;
      align-items: center;
      > * {
        &:not(:first-child) {
          margin-left: 2rem;
        }
      }
    }

    &__blocks {
      &--active {
        padding: 3rem 2rem !important;
      }
    }
  }
}
