.form {
  &__input {
    outline: none;
    border: none;
    width: 100%;
    color: #141414;
    font-weight: 400;
    font-size: 1.4rem;
    font-family: "roboto-regular";
    &::placeholder {
      color: #141414;
      font-weight: 400;
      font-size: 1.4rem;
      font-family: "roboto-regular";
    }
  }

  &__align {
    display: inline-block;
    border: 1px solid #d0d0d0;
    border-radius: 0.5rem;
    background: #fafafa;
    height: 4.2rem;
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
    > * {
      transition: all .2s;
      padding: 0.3rem 1.2rem;
      display: inline-block;
      border: 1px solid transparent;
      &:not(:last-child) {
        border-right: 1px solid #ededed;
      }

      &:hover {
        background: darken(#fafafa, 3%);
        border: 1px solid #d0d0d0;
      }
    }
  }

  &__slider {
    position: relative;
    width: 4rem;
    height: 2.2rem;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #c4c4c4;
    border-radius: 2rem;
    transition: 0.3s;
    outline: none;
    cursor: pointer;
    &:checked {
      background: #00bd1e;
    }

    &::after {
      content: "";
      position: absolute;
      width: 2rem;
      height: 2rem;
      border-radius: 2rem;
      background: $color-white;
      top: 1px;
      left: 2px;
      transition: 0.3s;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &:checked::after {
      left: 1.9rem;
    }
  }

  &__rule {
    position: relative;
    height: 5rem;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &--line {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      border-top: 1px solid #dbdbdb;
      height: 0.5rem;
    }
  }

  &__checkbox {
    display: flex;
    align-items: center;
    input[type="checkbox"] {
      display: none;
      visibility: hidden;
    }
    &--box {
      display: inline-block;
      width: 2.4rem;
      height: 2.4rem;
      background: #888888;
      transition: 0.1s;
    }

    &--label {
      display: flex;
      align-items: center;
      > div {
        position: relative;
      }
      > p {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      > * {
        &:not(:first-child) {
          margin-left: 1rem;
        }
      }
    }

    &--input:checked ~ &--label > div {
      background: #00bd1e;
      &::after {
        content: "\2713";
        @include absCenter;
        color: $color-white;
        font-weight: bold;
        font-size: 1.8rem;
      }
    }
  }

  &__input {
    height: inherit;
    > input {
      width: 100%;
      height: 100%;
      outline: none;
      border: none;
      padding: 1rem 0.5rem;
      font-size: 1.4rem;
      color: #888888;
    }
  }
}
