.home {
  width: 100%;
  display: block;
  overflow-x: hidden;
  &__left {
    position: relative;
    width: 26%;
    display: inline-block;
  }

  &__right {
    width: 74%;
    display: inline-block;
  }

  &__choice {
    top: 5.9rem;
    left: 0;
    background: $color-grey-light-2;
    position: fixed;
    width: 26%;
    height: 100%;
  }

  &__options {
    padding: 1.8rem 0rem;
    font-size: 1.4rem;
    color: #888;
    font-weight: 400;

    &--row {
      cursor: pointer;
      transform: translateX(2%);
      > div {
        text-align: center;
        display: inline-block;
      }
    }
  }

  &__selected {
    min-width: 11.1rem;
    background: #fafafa;
    border: 1px solid #cacaca;
    border-radius: 5px;
    padding: 1rem 1.6rem;
    color: $color-black;
    font-weight: 600;
    &:hover {
      background: darken(#fafafa, 3%);
    }
  }

  &__default {
    min-width: 11.1rem;
    padding: 1rem 1.6rem;
    border: 1px solid transparent;
  }
}
