.paper {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  background: #fafafa;
  border: 1px solid #d0d0d0;
  border-radius: 0.5rem;
  width: 100%;
  height: 3.6rem;
  padding: 0.5rem;

  &__bgColor {
    width: 2.6rem;
    height: 2.6rem;
    display: inline-block;
    border-radius: 0.5rem;
  }

  &__text {
    display: inline-block;
    color: $color-black;
    font-weight: bold;
    font-size: 1.4rem;
    width: 6rem;
  }

  > * {
    &:not(:first-child) {
      margin-left: 5%;
    }
  }

  &__borderWrapper {
    display: inline-block;
    > * {
      &:not(:first-child) {
        margin-left: 0.5rem;
      }
    }
  }

  &__border {
    display: inline-block;
    background: #f0f0f0;
    width: 4rem;
    height: 2.6rem;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    &:hover {
      border: 1px solid #ccc;
    }
    &--selected {
      border: 1px solid #ccc;
    }
  }

  &__link {
    display: inline-block;
    width: 100%;
    height: inherit;
    &--icon {
      display: inline-block;
      background: #888888;
      width: 15%;
      height: inherit;
      text-align: center;
      transform: translateY(-0.5rem);
      > * {
        transform: translateY(0.8rem);
      }
    }
    &--input {
      width: 85%;
      display: inline-block;
      height: inherit;
    }
  }

  &--solid {
    position: relative;
    &::after {
      position: absolute;
      content: "___";
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $color-black;
      font-weight: bold;
    }
  }

  &--dashed {
    position: relative;
    &::after {
      position: absolute;
      content: "- - -";
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $color-black;
      font-weight: bold;
    }
  }

  &--dotted {
    position: relative;
    &::after {
      position: absolute;
      content: "....";
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $color-black;
      font-weight: bolder;
    }
  }

  &__colorPicker {
    position: absolute;
    top: 3.6rem;
    left: -2.2rem;
    z-index: 1;
  }
}
