.settings {
  &__type {
    background: $color-white;
    width: 34.5rem;
    height: 4.8rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    margin: 0 auto;
  }

  &__back {
    display: inline-block;
    cursor: pointer;
    > * {
      display: inline-block;
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }

  &__heading {
    font-family: 'roboto-regular';
    font-weight: 700;
    font-size: 1.4rem;
    color: $color-black;
  }

  &__scroll {
    height: 70vh;
    overflow-y: scroll;
  }
}
