// Font sizes
$default-font-size: 1.6rem;

// Grid
// Grid
$grid-width: 117rem;
$gutter-vertical: 3rem;
$gutter-horizontal: 1rem;

$gutter-vertical-2: 1.2rem;
$gutter-horizontal-2: 1.3rem;

// Colors
$color-white: #fff;
$color-black: #000;
$color-grey-dark: #777;
$color-grey-light: #eee;
$color-grey-light-2: #f0f0f0;
$color-tertiary: #393939;
$color-red: #d54d42;
$color-green: #00bd1e;