@font-face {
  font-family: "roboto-light";
  src: url("/assets/font/Roboto-Light.ttf");
}

@font-face {
  font-family: "roboto-regular";
  src: url("/assets/font/Roboto-Regular.ttf");
}

@import "./abstracts/variables";
@import "./abstracts/functions";
@import "./abstracts/mixins";

@import "./base/animations";
@import "./base/base";
@import "./base/typography";
@import "./base/utilities";

@import "./components/button";
@import "./components/card";
@import "./components/draft";
@import "./components/home";

@import "./layout/header";
@import "./layout/grid";

@import "./pages/draft";

@import "./vendors/scroll";
