body {
  font-family: "roboto-light";
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 1.7;
  color: $color-grey-dark;
}

.text-primary {
  font-family: "roboto-light";
  font-size: 1.4rem;
  font-weight: 400;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.text-tertiary {
  color: #d54d42;
  font-family: "roboto-regular";
  font-weight: bold;
}

.small-text-primary {
  font-size: 1.1rem;
  color: #5d5d5d;
  font-family: "roboto-regular";
}
